<!-- Product Section List -->
<section
  id="products"
  class="pb-16 w-fit mx-auto grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2 justify-items-center justify-center gap-y-10 gap-x-14 mt-10 mb-5">
  <product-item
    class="rounded-xl p-1 bg-slate-50"
    *ngFor="let product of products"
    [query]="query"
    [product]="product">
  </product-item>
</section>
<!-- End Product Section List -->

<!-- Pagination -->
<section *ngIf="isSuccess" class="flex fixed left-0 w-full bottom-0 justify-center">
  <div class="bg-white p-4 flex items-center flex-wrap">
    <nav aria-label="Page navigation">
      <ul class="flex flex-wrap">
        <li>
          <button
            class="h-10 px-5 text-gray-600 transition-colors duration-150 rounded-l-lg focus:shadow-outline hover:bg-gray-100">
            <svg class="w-4 h-4 fill-current" viewBox="0 0 20 20">
              <path
                d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                clip-rule="evenodd"
                fill-rule="evenodd"></path>
            </svg>
          </button>
        </li>
        <li *ngFor="let item of items">
          <button
            (click)="getPage(item, query)"
            [className]="
              item === page
                ? 'h-10 px-5 bg-gray-600 text-white transition-colors duration-150 focus:shadow-outline hover:bg-gray-600 hover:cursor-no-drop'
                : 'h-10 px-5 text-gray-600 transition-colors duration-150 focus:shadow-outline hover:bg-gray-100'
            ">
            {{ item }}
          </button>
        </li>
        <li>
          <button
            class="h-10 px-5 text-gray-600 transition-colors duration-150 bg-white rounded-r-lg focus:shadow-outline hover:bg-gray-100">
            <svg class="w-4 h-4 fill-current" viewBox="0 0 20 20">
              <path
                d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                clip-rule="evenodd"
                fill-rule="evenodd"></path>
            </svg>
          </button>
        </li>
      </ul>
    </nav>
  </div>
</section>
<!-- End Pagination -->
