<ng-template #loading>
  <div class="fixed w-full h-full flex items-center justify-center top-0 left-0 z-100">
    <div class="rounded-md h-12 w-12 border-4 border-t-4 border-blue-500 animate-spin"></div>
  </div>
</ng-template>
<ng-container *ngIf="response$ | async as response; else loading">
  <!-- Product Section List -->
  <section
    id="products"
    class="pb-16 w-fit mx-auto grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2 justify-items-center justify-center gap-y-10 gap-x-14 mt-10 mb-5">
    <product-item
      class="rounded-xl p-1 bg-slate-50"
      *ngFor="let product of response.products"
      [query]="query"
      [product]="product">
    </product-item>
  </section>
  <!-- End Product Section List -->

  <!-- Pagination -->
  <section class="flex fixed left-0 w-full bottom-0 justify-center">
    <div class="bg-white p-4 flex items-center flex-wrap">
      <nav aria-label="Page navigation">
        <ul class="flex flex-wrap">
          <li>
            <button
              [disabled]="response.skip === 0"
              (click)="getPage(response.skip / limit - 1, query)"
              class="h-10 px-5 text-gray-600 disabled:cursor-no-drop transition-colors duration-150 rounded-l-lg focus:shadow-outline hover:bg-gray-100">
              <svg class="w-4 h-4 fill-current" viewBox="0 0 20 20">
                <path
                  d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                  clip-rule="evenodd"
                  fill-rule="evenodd"></path>
              </svg>
            </button>
          </li>
          <li *ngFor="let item of getItems(response.total)">
            <button
              (click)="getPage(item - 1, query)"
              [className]="
                item === response.skip / limit + 1
                  ? 'h-10 px-5 bg-gray-600 text-white transition-colors duration-150 focus:shadow-outline hover:bg-gray-600 hover:cursor-no-drop'
                  : 'h-10 px-5 text-gray-600 transition-colors duration-150 focus:shadow-outline hover:bg-gray-100'
              ">
              {{ item }}
            </button>
          </li>
          <li>
            <button
              [disabled]="response.skip + limit === response.total"
              (click)="getPage(response.skip / 10 + 1, query)"
              class="h-10 px-5 text-gray-600 disabled:cursor-no-drop transition-colors duration-150 bg-white rounded-r-lg focus:shadow-outline hover:bg-gray-100">
              <svg class="w-4 h-4 fill-current" viewBox="0 0 20 20">
                <path
                  d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                  clip-rule="evenodd"
                  fill-rule="evenodd"></path>
              </svg>
            </button>
          </li>
        </ul>
      </nav>
    </div>
  </section>
  <!-- End Pagination -->
</ng-container>
